.box {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    font-size: medium;
}

.box-list span {
    margin: 0 5px;
}
.box a {
    text-decoration: none;
    color: #000; /* Warna teks untuk link */
}
  
.box a i {
    margin-right: 5px; /* Jarak antara ikon dan teks */
}
  
.box a span {
    margin-right: 10px; /* Menambahkan jarak sebesar 10px di sebelah kanan setiap teks */
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2; /* Warna background navbar */
    padding: 10px 20px; /* Padding navbar */
    margin: 0 auto;
    width: 85%;
}

.navbar-text {
    flex-grow: 1; /* Mengisi ruang kosong di antara logo dan keranjang */
    text-align: center; /* Tengahkan isi teks */
    display: flex;
    justify-content: center;
}

.navbar-form {
    display: flex;
    align-items: center;
}

.navbar-form .btn {
    flex-shrink: 0; /* Mencegah tombol pencarian untuk mengalami perubahan ukuran */
}

.navbar-form .form-control {
    font-size: 12px; /* Mengurangi ukuran font input pencarian */
    height: 30px; /* Tetapkan tinggi input pencarian */
    width: 200px; /* Tetapkan lebar input pencarian */
}

.navbar-form .form-control,
.navbar-form .btn {
    height: 29px; /* Set tinggi sama untuk input dan tombol */
    padding: 0 10px; /* Set padding sama untuk input dan tombol */

}


.basket {
    font-size: medium;
    display: flex;
    align-items: center;
}

.dropdown.dropdown-cart .items-cart-inner span {
    font-size: 1.5rem; /* Atur ukuran font keranjang */
    line-height: 1; /* Atur line-height keranjang */
}

.dropdown.dropdown-cart a {
    text-decoration: none; /* Hapus garis bawah */
}

.total-price-basket {
    padding-right: 15px;
    margin: -10px 0;
}

.btn.btn-upper.btn-primary {
    color: #fff; /* Warna teks tombol */
    border: none; /* Hapus border tombol */
    padding: 10px 20px; /* Padding tombol */
    border-radius: 5px; /* Sudut border tombol */
    text-decoration: none; /* Hapus dekorasi teks */
}

.btn.btn-upper.btn-primary:hover {
    background-color: #0e131a; /* Warna latar belakang saat hover */
    color: #fff; /* Warna teks saat hover */
}

.items-cart-inner {
    display: flex;
    flex-direction: column;
}

.basket-item-count {
    margin: 6px;
}

#footer {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.footer-logo h3 {
    margin: 0;
    font-size: 24px;
    color: darkgreen;
}

.footer-logo a {
    text-decoration: none;
}

.contact-info p {
    margin-bottom: 20px;
    font-size: 16px; /* Atur ukuran font kontak info */
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-flex; /* Menggunakan flexbox untuk penataan */
    align-items: center; /* Menyusun ikon dan teks secara vertikal */
    justify-content: center; /* Menyusun ikon dan teks secara horizontal */
    width: 40px;
    height: 40px;
    margin: 5px; /* Menambahkan margin di sekitar setiap ikon */
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-decoration: none; /* Menghapus garis bawah pada tautan */
}

/* Atur margin untuk ikon-ikon spesifik */
.social-icons a:nth-child(3),
.social-icons a:nth-child(4) {
    margin-top: 10px; /* Tambahkan margin atas pada ikon TikTok dan Shopee */
}
.social-icons a:nth-child(5),
.social-icons a:nth-child(6),
.social-icons a:nth-child(7) {
    margin-bottom: 10px; /* Tambahkan margin bawah pada ikon Tokopedia, Gojek, dan Grab */
}

.contact-timing table {
    margin-bottom: 20px;
    font-size: 0.99rem;
}

.contact-timing table td {
    padding: 10px;
}

.contact-information ul {
    padding-left: 0;
    list-style: none;
}

.contact-information li {
    margin-bottom: 15px;
    font-size: 16px; /* Atur ukuran font informasi kontak */
}

.contact-information .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}
